/* Color Name */
/* h1{
    color: tomato;
} */
/* Color Hex */
/* h1{
    color: #58a5d8;
} */
/* Color RGB */
/* h1{
    color: rgb(255, 255, 0);
} */

/* Background Color */
/* body{
    background-color: blueviolet;
    color: blue;
} */
/* div{
    background-color: black;
    color: white;
} */

/* Opacity */
/* #div1{
    background-color: red;
    opacity: 0.5;
}
#div2{
    background-color: red;
} */

/* img{
    opacity: o.5;
} */